<!--<form>
    <div>
        <input type="text" [(ngModel)]="retro.name" name="txt_retroname" placeholder="retro" required />
    </div>
    <div>
        <input type="text" id="{{login.id}}" [(ngModel)]="user.name" name="txt_username" placeholder="username" required />
    </div>
    <a (click)="createRetro()">create</a>
</form>

<div class="intro-text">
    <span class="name">create retro</span>
    <hr class="star-light">
</div>-->



<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Create a Retro</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form name="sentMessage" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Retro</label>
                            <input [(ngModel)]="retro.name" type="text" class="form-control" placeholder="Retrospective" required data-validation-required-message="Please enter the retro name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Username</label>
                            <input id="{{login.id}}" [(ngModel)]="user.name" type="text" class="form-control" placeholder="Username" required data-validation-required-message="Please enter your username.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg" (click)="createRetro()">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>